{
  "globals": {
    "JSX": "readonly"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "next",
    "eslint-config-prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": ["eslint-plugin-prettier"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": "warn",
    "no-unused-vars": "warn",
    "@next/next/no-document-import-in-page": "off"
  }
}
